* {
    font-family: sans-serif;
    font-weight: bold;
}

.App {
    width: 600px;
    margin: 0px auto;
    text-align: center;
}

h1 {
    color: rgb(84, 1, 87);
}

form input {
    width: 200px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid rgb(219, 39, 255);
    outline: none;
    color: rgb(84, 1, 87);
}

form button {
    padding: 7px;
    outline: none;
    border: none;
    background-color: rgb(205, 42, 255);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(23, 196, 0);
    transition: all 0.5s ease-out;
}

.item-todo {
    width: 344px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(214, 77, 255);
    border-radius: 5px;
    display: flex;
    color: rgb(227, 89, 255);
    justify-content: space-between;
    font-size: 15px;
    margin: 5px auto;
    cursor: pointer;
}

.item-delete {
    cursor: pointer;
}

.item-delete:hover {
    color: rgb(146, 255, 132);
}

.todo-complete {
    width: 344px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 3px auto;
    background-color: #cf7bff;
    color: #fff;
    cursor: pointer;
}

.text-complete {
    text-decoration: line-through;
}

 